body {
font-size:50px;
  color: white;
  background-image: url(piecemissingcum.png);
  button {
    width: 300px;
    height: 100px;
  background-color: blue;
    opacity: 0.6;
  color: pink;
    position: relative;
    top: 150px;
  }
